.header{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 2px;
    color: darkslategray;
}

.paragraph{
    color: #003d3d;
    font-size: 16px;
    text-align: left;
    padding-left: 30px;
}

.icon{
    padding-right: 10px;
}